*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {

    /*COLORS*/
    --blanco: #FFFFFF;
    --rojo-terracota: #E07A5F;
    --azul-petroleo: #004E66;
    --verde-oliva: #A3B18A;
    --amarillo-mostaza: #DAA520;

    
}

/* DAVID */

/* nav */

.logoh {
    width: 100px;
}

nav {
    font-size: 14px;
    border-bottom: 0.2px solid rgb(34, 34, 34);
    background-color: #FFFFFF;
}

#navbarNav {
    flex-direction: row-reverse;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a:hover {
    filter: blur(1px);
    transition: 1s;
}

#navbarNav_abajo {
    flex-direction: row-reverse;
    
    display: flex;
    list-style: none;
    flex-grow: 1;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.nav_abajos {
    flex-direction: row;
    
}

.item {
    margin-right: 1em;
}

.cart {
    width: 20px;
    height: auto;
    text-align: center;
    margin-top: 50%;
}


/* about */

h2 {
    font-size: calc(4rem + .9vw);
}

h3 {
    font-size: calc(1rem + .9vw);
}

main {
    padding: 9em 0;
}

















