*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {

    /*COLORS*/
    --blanco: #FFFFFF;
    --rojo-terracota: #E07A5F;
    --azul-petroleo: #004E66;
    --verde-oliva: #A3B18A;
    --amarillo-mostaza: #DAA520;

    
}

/* DAVID */

/* nav */

.logoh {
    width: 100px;
}

nav {
    font-size: 14px;
    border-bottom: 0.2px solid rgb(34, 34, 34);
    background-color: #FFFFFF;
}

#navbarNav {
    flex-direction: row-reverse;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a:hover {
    filter: blur(1px);
    transition: 1s;
}

#navbarNav_abajo {
    flex-direction: row-reverse;
    
    display: flex;
    list-style: none;
    flex-grow: 1;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.nav_abajos {
    flex-direction: row;
    
}

.item {
    margin-right: 1em;
}

.cart {
    width: 20px;
    height: auto;
    text-align: center;
    margin-top: 50%;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-title {
    font-weight: bold;

}

.btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 0 rgba(13, 109, 253, 0);
    --bs-btn-close-focus-opacity: 0;
}


/* main - scroll horizontal */

.horizontal-scroll-container {
    padding-top: 20vh;
    padding-bottom: 15vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    padding-left: 3em;
}

.horizontal-scroll-row {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
}

.horizontal-scroll-cell {
    flex: 0 0 auto;
    padding: 1em;
    /* padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box; */
    /* width: 200px; */
}

.cell-home {
    display: flex;
    flex-direction: column;
}

.text-esencia {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    
}

.img-home-colonia{
    width: 550px;
    height: auto;
}

.img-home {
    width: 400px;
    height: auto;
}

.img-home-tienda {
    width: 400px;
    height: 225px;
    background: url("../img/exterior_tienda.png") no-repeat;
    background-size: cover;
    
    
}

.img-home-tienda:hover {
    background: url("../img/interior_tienda_1.png") no-repeat;
    background-size: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 400px;
    height: auto;
    
    background-color: var(--rojo-terracota);
}

.button {
    background-color: #ffffff;
    color: var(--azul-petroleo);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-color: var(--amarillo-mostaza);
    border-style: solid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--azul-petroleo);
    color: #f2f2f2;
    filter: blur(0px);
    transition: 1s;
}


.list-word {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    
}

.word {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    font-weight: bold;
}

.img-home-colonia-sola {
    width: 450px;
    height: auto;
}

.word-left {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    font-weight: bold;
}

.word:hover {
    color: var(--amarillo-mostaza);
}

.word-left:hover {
    color: var(--rojo-terracota);
}

.button-container-d {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 500px;
    height: 610px;
    
    background-image: url(../img/d_dessense.png);
    background-repeat: no-repeat;
    background-size: 500px 610px;
}

/*PABLO*/
h5 {
    /* font-size: calc(4rem + .9vw); */
    font-size: 4em;
}

h3 {
    font-size: calc(1rem + .9vw);
}

.about_main {
    padding-top: 9em;
}

@media screen and (max-width: 390px) {
    h5 {
        /* font-size: calc(4rem + .9vw); */
        font-size: 2em;
    }
}

@media screen and (max-width: 312px) {
    h5 {
        /* font-size: calc(4rem + .9vw); */
        font-size: 1em;
    }
}


/* PEDRO */

.pedro_main {
    padding-top: 5em;
}

#base_aplicada {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#bloque_esencias {
    height: 20vw;
}

.perfume_perso {
    width: 80%;
} 

@media screen and (max-width: 490px) {
    .titulo {
        font-size: 19px;
    }

    #bloque_esencias {
        height: 105vw;
    }

    .perfume_perso {
        width: 100%;
    } 

}


@media (min-width: 576px) {
    #bloque_esencias

{
    height: 40vw;
}

}


@media (min-width: 768px) {
    
}


@media (min-width: 992px) {
    #bloque_esencias

{
    height: 40vw;
}

}


@media (min-width: 1200px) {
    #bloque_esencias

{
    height: 40vw;
}

}


@media (min-width: 1400px) {
    #bloque_esencias

{
    height: 40vw;
}

}

/* FIN PEDRO */



@media screen and (max-width: 992px) {
    .cart {
        width: 20px;
        height: auto;
        text-align: center;
        margin-top: 0;
    }

}

@media screen and (max-width: 500px) {
    .horizontal-scroll-container {
        padding-top: 15vh;
        padding-bottom: 12vh;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100vh;
        padding-left: 3em;
    }

}

@media screen and (max-width: 389px) {
    .horizontal-scroll-container {
        padding-top: 8vh;
        padding-bottom: 12vh;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100vh;
        padding-left: 3em;
    }

    .img-home-colonia{
        width: 460px;
        height: auto;
    }
    
    .img-home {
        width: 300px;
        height: auto;
    }
    
    .img-home-tienda {
        width: 300px;
        height: 190px;
        background: url("../img/exterior_tienda.png") no-repeat;
        background-size: cover;
    }

    .button-container {
        width: 300px;
    }

    .word {
        font-size: 32px;
    }
    
    .img-home-colonia-sola {
        width: 360px;
        height: auto;
    }
    
    .word-left {
        font-size: 32px;
    }

    .button-container-d {
        background-size: 480px 510px;
        height: 510px;
    }

}












