*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {

    /*COLORS*/
    --blanco: #FFFFFF;
    --rojo-terracota: #E07A5F;
    --azul-petroleo: #004E66;
    --verde-oliva: #A3B18A;
    --amarillo-mostaza: #DAA520;

    
}

/* DAVID */

/* nav */

.logoh {
    width: 100px;
}

nav {
    font-size: 14px;
    border-bottom: 0.2px solid rgb(34, 34, 34);
    background-color: #FFFFFF;
}

#navbarNav {
    flex-direction: row-reverse;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a:hover {
    filter: blur(1px);
    transition: 1s;
}


/* main - scroll horizontal */

.horizontal-scroll-container {
    padding-top: 20vh;
    padding-bottom: 15vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    padding-left: 3em;
}

.horizontal-scroll-row {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
}

.horizontal-scroll-cell {
    flex: 0 0 auto;
    padding: 1em;
    /* padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box; */
    /* width: 200px; */
}

.cell-home {
    display: flex;
    flex-direction: column;
}

.text-esencia {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    
}

.img-home-colonia{
    width: 550px;
    height: auto;
}

.img-home {
    width: 400px;
    height: auto;
}

.img-home-tienda {
    width: 400px;
    height: 225px;
    background: url("../img/exterior_tienda.png") no-repeat;
    background-size: cover;
    
    
}

.img-home-tienda:hover {
    background: url("../img/interior_tienda_1.png") no-repeat;
    background-size: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 400px;
    height: auto;
    
    background-color: var(--rojo-terracota);
}

.button {
    background-color: #ffffff;
    color: var(--azul-petroleo);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-color: var(--amarillo-mostaza);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--azul-petroleo);
    color: #f2f2f2;
}


.list-word {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    
}

.word {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    font-weight: bold;
}

.img-home-colonia-sola {
    width: 450px;
    height: auto;
}

.word-left {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    font-weight: bold;
}

.word:hover {
    color: var(--amarillo-mostaza);
}

.word-left:hover {
    color: var(--rojo-terracota);
}

.button-container-d {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 500px;
    height: 610px;
    
    background-image: url(../img/d_dessense.png);
    background-repeat: no-repeat;
    background-size: 500px 610px;
}

















